<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="600"/>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<title>status.cdero.com</title>
<header id=mainHeader>
	<div class="headDiv">
		<h2 id=mainHeaderName>status.cdero.com</h2>
			<ul class="menuList">
				<li class="headerMenuItem"><a class="headerMenuItemClass" href="http://cdero.com/">Return to cdero.com</a></li>
			</ul>
		</div>
</header>
</head>
<body id="indexBody">
	<div id="indexMain">
		<br>
		<br>
		<table class="statusTable">
			<tr>
				<th>Name</th>
				<th>Host</th>
				<th>Port</th>
				<th>Operating System</th>
				<th>Description</th>
				<th>Status</th>
			</tr>
			<tr th:each="data : ${statusTableData}">
				<td class="statusTableCell" th:utext="${data.name}"></td>
				<td class="statusTableCell" th:utext="${data.host}"></td>
				<td class="statusTableCell" th:utext="${data.port}"></td>
				<td class="statusTableCell" th:utext="${data.os}"></td>
				<td class="statusTableCell" th:utext="${data.description}"></td>
				<td class="statusTableCell" th:utext="${data.statusDivHTML}"></td>
			</tr>
		</table>
	</div>
	<br>
	<br>
</body>
<footer>
	<div class="footer">
		<div class="footer-content">
			status.cdero.com
		</div>
	</div>
</footer>
</html>
